<!-- admin_panel/templates/orders.html -->

{% extends 'base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}

<style>
    #bt{
        padding-left:1000px;
    }
</style>

<div class="d-flex" id='bt'>
    <button class="btn btn-secondary" onclick="window.location.href='{% url 'add_consumer' %}'">Add Consumer</button>
    {% comment %} <button class="btn btn-secondary" onclick="window.location.href='{% url 'update_category' %}'">update Category</button> {% endcomment %}


</div>
<style>
    #bt {
        padding-left: 900px;
    }
    #btd{
        padding-left:950px;
    }
</style>
{% comment %} 
<div class="d-flex" id='bt'>
    <select id="genderFilter" class="form-select" onchange="applyFilters()">
        <option value="">Gender</option>
        {% for gender in genders %}
            <option value="{{ gender }}">{{ gender }}</option>
        {% endfor %}
    </select>
</div> {% endcomment %}


    <h1>Consumers</h1>
    <div id="orders-content">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Category</th>
 
                </tr>
            </thead>
            <tbody>
                {% for consumer_record in consumers %}
                    <tr>
                        <td>{{ consumer_record.fname}}</td>
                        <td>{{ consumer_record.lname }}</td>
                        <td><a href="{% url 'update-consumer' pk=consumer_record.pk  %}">{{ consumer_record.email }}</a></td>
                        <td>{{ consumer_record.contact }}</td>
                        <td>{{ consumer_record.address }}</td>
                        <td>{{ consumer_record.gender }}</td>
                        <td>{{ consumer_record.product_categories }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        function applyFilters() {

            var selectedGender = document.getElementById("genderFilter").value;

    
            $.ajax({
                type: "GET",
                url: "{% url 'filter_by_gender' %}",
                data: {

                    gender: selectedGender,
                },
                success: function (data) {
                    console.log("Received data:", data);
                    $('#consumers-content').html(data.data);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
    
        $(document).ready(function () {

            applyFilters();
        });
    </script>




{% endblock %}
